<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">    
    <title>Listi</title>
</head>

<body>
    <div class="container">      
        <div class="inner-container">            
            <div class="parent"> 
                <script id="template" type="text/html">
                    <% for (var i=0; i < categories.videos.length; i++){ %>                
                <div class="child">
                    <h1 class="center-text">fræðslumyndbandaleigan </h1> </div>
                </div>
                </script>            
        </div>
    </div>
</body>
</html>
