<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">    
    <title>Listi</title>
</head>

<body>
    <div class="container">      
        <div class="inner-container">
            <div> 
            <h1 class="center-text">fræðslumyndbandaleigan </h1> </div>
            <h2> Nýleg myndbönd</h2>
            <div class="parent">           
                <div class="child"> 
                    <!-- <script id="read-json" type="text/html"> -->
                    
                        <img src="videos/small.png"> </a>
                        <h3>ótrúleg lego maskína</h3>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    <!-- </script> -->
                    
                </div>
                <div class="child"> 
                    <img src="videos/bunny.png"> 
                    <h3>Stóra kanínan fer á kreik</h3>
                    <p>Fyrir 3 dögum síðan</p>
                </div>
                <div class="child">
                     <img src="videos/16-9.png"> 
                    <h3>Prufu myndband</h3>
                    <p>Fyrir 2 dögum síðan</p>
                </div>
            </div>
            <hr>
            <h2> Kennslumyndbönd </h2>
            <div class="parent">           
                <div class="child"> <a href="/video/1">
                    <img src="videos/small.png"> </a>
                    <h3>ótrúleg lego maskína</h3>
                    <p>Fyrir 22 klukkustundum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/bunny.png"> 
                    <h3>Stóra kanínan fer á kreik</h3>
                    <p>Fyrir 3 dögum síðan</p>
                </div>
                <div class="child">
                     <img src="videos/16-9.png"> 
                    <h3>Prufu myndband</h3>
                    <p>Fyrir 2 dögum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/typing.png"> 
                    <h3>Manneskja að forrita</h3>
                    <p>Fyrir 12 dögum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/16-9.png">
                    <h3>Ótrúlegt myndband sem þú verður að sjá til að trúa því sem gerist. Vá</h3>                        
                    <p>Fyrir 3 vikum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/drone.png"> 
                    <h3>Fallegt náttúrumyndband</h3>
                    <p>Fyrir 5 vikum síðan</p>
                </div>
            </div>
             <hr>
            <h2> Skemmtimyndbönd </h2>
            <div class="parent">           
                <div class="child"> <a href="/video/1">
                    <img src="videos/small.png"> </a>
                    <h3>ótrúleg lego maskína</h3>
                    <p>Fyrir 22 klukkustundum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/bunny.png"> 
                    <h3>Stóra kanínan fer á kreik</h3>
                    <p>Fyrir 3 dögum síðan</p>
                </div>
                <div class="child">
                     <img src="videos/16-9.png"> 
                    <h3>Prufu myndband</h3>
                    <p>Fyrir 2 dögum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/typing.png"> 
                    <h3>Manneskja að forrita</h3>
                    <p>Fyrir 12 dögum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/16-9.png">
                    <h3>Ótrúlegt myndband sem þú verður að sjá til að trúa því sem gerist. Vá</h3>                        
                    <p>Fyrir 3 vikum síðan</p>
                </div>
                <div class="child"> 
                    <img src="videos/drone.png"> 
                    <h3>Fallegt náttúrumyndband</h3>
                    <p>Fyrir 5 vikum síðan</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>