<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">    
    <title>Listi</title>
</head>

<body>
    <div class="container">      
        <div class="inner-container">
            <div class="parent">
                <div class="child large">
                    <h1 class="center-text"> Manneskja að vefforrita </h1>
                    <img src="videos/typing.png">
                    <span class="tmp-block center">
                        <img src="videos/16-9.png">
                        <img src="videos/16-9.png">
                        <img src="videos/16-9.png">
                        <img src="videos/16-9.png">
                        <img src="videos/16-9.png">
                    </span>
                    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed aliquet odio, non commodo nisi. Cras iaculis magna leo, et placerat felis placerat ac. Praesent massa sapien, volutpat ac tellus ultrices, porta lacinia urna. </p>
                    <h2>Tengd myndbönd</h2>
                </div>
                <div class="child"> 
                    <img src="videos/16-9.png">
                    <h3>Ótrúlegt myndband sem þú verður að sjá til að trúa því sem gerist. Vá</h3>                                            
                </div>      
                <div class="child"> 
                    <img src="videos/drone.png"> 
                    <h3>Fallegt náttúrumyndband</h3>                    
                </div>           
            </div>
        </div>
    </div>    
</body>
</html>